.admin-dashboard .admin-dashboard-container {
  padding-left: 2vw;
  padding-right: 20px;
  margin-top: 1vh;
  height: auto;
  min-height: 88vh;
  display: flex;
  overflow: scroll;
  justify-content: space-between !important;
}
.admin-dashboard .admin-dashboard-container .admin-dashboard-main {
  padding-right: 5vw;
}
.admin-dashboard .admin-dashboard-container .admin-dashboard-main,
.admin-dashboard .admin-dashboard-container .admin-dashboard-side {
  /* height: 88.5vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.admin-dashboard .admin-dashboard-container .admin-dashboard-side {
  display: flex;
  padding: 0 !important;
}

@media (max-width: 992px) {
  .admin-dashboard .admin-dashboard-container .admin-dashboard-main {
    display: flex;
    flex-direction: column;
  }
}
