.alert {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.alert .alert-header h2 {
  font-weight: 700;
  color: #1877f2;
  font-size: 24px;
  text-transform: capitalize;
}

.alert .alert-header .close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: red;
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.alert hr {
  color: gray;
}
.alert .alert-action-btns {
  display: flex;
  justify-content: flex-end;
}
.alert .alert-action-btns button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
}
.alert .alert-action-btns .cancel-btn {
  background-color: #1877f2;
  margin-right: 20px;
}
.alert .alert-action-btns .confirm-btn {
  background-color: red;
}
