.pupil-status {
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 250px;
}
.pupil-status h3 {
  font-weight: 500;
  font-size: 18px;
}
.pupil-status .pupil-status-group {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
}
.pupil-status .pupil-status-group p:nth-child(2) {
  margin-left: 10px;
}
