.forgot-password .send-link-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, cursor 0.3s;
}

.forgot-password .send-link-button.disabled {
  background-color: gray;
  cursor: not-allowed;
}
