.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000079;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
